$width: 10em + 20
$color: #00ff98
$main_text: #ffa
$num: 10
$dec: 10.2
$dec_0: 99.0
$neg: -10
$esc: 10\+12
$str: Hello\!
$qstr: "Quo\"ted\"!"
$hstr: Hyph-en\!
$space: #{5 + 4} hi there
$percent: 11%
$complex: 1px/1em

#main
  content: $str
  qstr: $qstr
  hstr: $hstr
  width: $width
  background-color: #000
  color: $main_text
  short-color: #123
  named-color: olive
  con: "foo" bar ($space "boom")
  con2: "noquo" quo
  #sidebar
    background-color: $color
    num:
      normal: $num
      dec: $dec
      dec0: $dec_0
      neg: $neg
    esc: $esc
    many: 1 + 2 + 3
    order: 1 + 2 * 3

#plus
  num:
    num: 5+2
    num-un: 10em + 15em
    num-un2: 10 + 13em
    num-neg: 10 + -.13
    str: 100 * 1px
    perc: $percent + 20%
  str:
    str: "hi" + "\ there"
    str2: "hi" + " there"
    col: "14em solid " + #123
    num: "times: " + 13

#minus
  num:
    num: 912 - 12
  unary:
    num: -1
    const: -$neg
    paren: -(5 + 6)
    two: --12
    many: --------12
    crazy: -----(5 + ---$neg)

#times
  num:
    num: 2 * 3.5
    
#div
  num:
    num: (10 / 3.0)
    num2: (10 / 3)
  comp:  $complex * 1em

#mod
  num:
    num: 17 % 3

#const
  escaped:
    quote: \$foo \!bar
  default: $str !important

#regression
  a: (3 + 2) - 1
